<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>作业提交</title>

    <!-- Bootstrap -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
 <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"> 
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style=" background-color: #EAEBEC;">
    <header>
      <img alt="Icon" src="/assets/u3.png" style="width:100%"/>     
    </header>
     
    <div id="left" style="width: 33%;float: left;">
      <img alt="Icon" src="/assets/u1.png" style="width:90%"/>
    </div>
    <div id="right" style="width: 67%;float: right; background-color: #FFFFFF;">
      <div >
        <!-- <img  src="/assets/u7.png" style="width: 90%;margin: 15px;"/> -->
        <h4 class="bg-primary" style="width: 90%;margin-left: 18px;margin-top: 35px;">布置作业</h4>
        
      </div>
      
      <label for="name" style="display: block;width: 90%;background-color: #EAEBEC;margin: 17px;">作业描述</label>
      
      <textarea rows="3" cols="20" style="margin: 19px;width: 89%;height: 70px;">
        CodeGrader是一个在线代码测试平台
      </textarea>
<p>
      <h4 style="margin-left: 16px;">属性设置</h4>
<p>
 <label for="name" style="margin-left: 16px;">发布</label>
      <input type="text" class="form-control" id="name" 
         placeholder="请输入名称" style="width: 20%;height: 26px;margin-left: 16px;">
      


<label for="name" style="margin-left: 16px;margin-top: 10px;">截止时间</label>
<input type="text" class="form-control" id="name" 
         placeholder="请输入名称" style="width: 20%;height: 26px;margin-left: 16px;">
     <label for="name" style="margin-left: 16px;margin-top: 10px;">测试代码</label> 
      <%= form_tag ({:action => 'uploadFile'}), :multipart => true %>  
          <%= file_field 'upload', 'datafile' ,:class => "btn  " %></p>
          <%=hidden_field_tag :type, :'teacher' %>
          <p>
          <%= submit_tag "发布作业" ,:class => "btn btn-primary" ,:style=>"margin-left:15px"%>
          <%= form_tag%>
    </div>

  <footer>
    <img  src="/assets/u28.png" style="width: 100%; "/>
  </footer>
 

 <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>



